@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    * {
        box-sizing: border-box;
    }
    :root , .black {
        --black: 0 0% 0%;
        --slate: 240 7% 11%;
        --white: 0 0% 100%;
        --yellow: 55 100% 75%;
        --blue: 251 100% 45%;
        --primary: var(--black);
        --secondary: var(--yellow);
        --accent: var(--slate);
        --primary-content: var(--white);
        --secondary-content: var(--black);
    }
    .white {
        --primary: var(--white);
        --secondary: var(--blue);
        --accent: var(--slate);
        --primary-content: var(--black);
        --secondary-content: var(--white);
    }
    .blue {
        --primary: var(--blue);
        --secondary: var(--white);
        --accent: var(--slate);
        --primary-content: var(--white);
        --secondary-content: var(--black);
    }

    .yellow {
        --primary: var(--yellow);
        --secondary: var(--white);
        --accent: var(--slate);
        --primary-content: var(--slate);
        --secondary-content: var(--slate);
    }
}

/* Animate the page header separatly */
.pageHeader {
    view-transition-name: page-header;
}
.stop-animations * {
    animation-play-state: paused;
}
/* Animate the page content separatly */
.pageContent {
    view-transition-name: page-content;
}

::view-transition-old(root) {
    animation: slide-top .5s ease-in-out 1 forwards;
}

::view-transition-new(root) {
    animation: slide-bottom .5s  ease-in-out 1 forwards;
}

::view-transition-old(page-header) {
    animation: hide 1s ease-in-out 1 forwards;
}

::view-transition-new(page-header) {
    animation: slide-right 2s ease-in-out 1 forwards;
}

::view-transition-old(page-content) {
    animation: hide 1s ease-in-out 1 forwards;
}

::view-transition-new(page-content) {
    animation: slide-left 2.5s ease-in-out 1 forwards;
}

/* First Animation */

@keyframes fade-and-scale-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-and-scale-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes nothing {
    from {
        scale: 1;
    }

    to {
        scale: 1;
    }
}

/* Second Animation */

@keyframes hide {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;

    }
}
@keyframes slide-bottom {
    from {
        transform: translateY(100%);

    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-top {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
